<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flok.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEBFB79D1D62FDCB002B0CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEBFB7B61D62FDCC002B0CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEBFB7C11D62FDCC002B0CE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
